body {
            font-family: Arial, sans-serif;
            background-color: #e4e4e4;
            margin: 0;
            padding: 0;
            color: #333;
        }
        h1 {
            text-align: center;
            color: #333;
            font-size: 18px;
            margin: 25px 0;
            font-weight: normal;
        }
        .container {
            max-width: 800px;
            margin: 10px auto;
            background-color: white;
            padding: 0;
            border: 1px solid #ccc;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        }
        .header {
            background-color: #a0a0c8;
            color: black;
            padding: 10px;
            text-align: center;
            margin-bottom: 15px;
            font-weight: bold;
            font-size: 14px;
        }
        .content {
            padding:0 80px;
        }
        .content p {
            margin-bottom: 15px;
            line-height: 1.4;
            font-size: 13px;
        }
        .button-container {
            display: flex;
            justify-content: center;
            gap: 40px;
            margin: 25px 0 15px 0;
        }
        .button {
            padding: 6px 25px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            font-size: 13px;
        }
        .accept-button {
            background-color: #a0a0c8;
        }
        .cancel-button {
            background-color: #a0a0c8;
        }